.*.swp
.swp
*.bak
*~
*.log
*.sql
!patch_*.sql
*.ini
vimsession
Session.vim
src
test.php
data/reports/scripts/*
public/static/files/*
public/static/files/others/*
public/test/*
!public/static/files/Translations.csv
!data/db/mysql/imaat.sql
!README
